body{
    background-color: #650000;
    text-align: center;
}

h1{
    color:antiquewhite;
}

p{
    color:antiquewhite;
}


.home-button {
    position: fixed;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    padding: 10px;
}

.home-button p {
    color: antiquewhite;
    stroke: none;
}

.one{
margin-top: 5vw;}


.image img{
width: 50vw;
}

.date p{
text-align: right;
margin-right: 25vw;
}


.caption {
    text-align: left;
    margin-left: 23.5vw;
    max-width: 20vw; /* Set the maximum width */
  }
  
.next {
margin-top: -7%;
}

.next img{
width: 3%;
height: 1%;
margin-left: 45%;
}