body {
    background-color: #240000;
    text-align: center;
}

h1 {
    color: antiquewhite;
    font-size: 4vw;
}

p {
    color: antiquewhite;
}

.intro {
    z-index: 3;
    position: fixed; 
    bottom: 20vh; 
    left: 50%; /* Center the container horizontally */
    transform: translateX(-50%); /* Center the container horizontally */
    transition: transform 0.3s ease-in-out;
    text-align: center; /* Center align the text */
}


.intro h1 {
    margin-bottom: -50px;
    text-align: center; /* Center align the text */
    font-family: "sarvatrik-tamil", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2; /* You can adjust this value */
}

.intro h1::before {
    content: "எல்லா காலத்திலும் சிறந்த காதல் கதையைப் படிக்க கிளிக் செய்யவும்"; /* Set initial content */
    display: block;
}

.intro:hover h1::before {
    margin-bottom: 50px;
    content: "click to read the greatest love story of all time"; /* Set content on hover */
    font-style: italic; /* Set to italic on hover */
    font-family: "times";
    transition: content 1s ease; /* Add transition */

}


.intro a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
    font-weight: bold;
  }




.designs {
    position: relative;
}

.border {
    z-index: 2;
    position: fixed; 
    bottom: 0; 
    left: 0;
}

.border-img {
    width: 100%;
}

.mandala {
    display: flex;
    justify-content: center;
    margin-bottom: -450px;
    position: relative;
    z-index: 1;
    margin-bottom: -10%;
}

.mandala-img {
    width: 100vw;
    transition: transform 2s linear;
    position: relative;
    animation: spin 10s infinite linear;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
